.fab-icon{
    height: 40px;
    width: 40px;
    border-radius: 25px
}
.hero-section{
    margin-top: 125px;
}
.link-btn{
    text-decoration: none;
    background-color: #0d6efd ;
    color: white;
    border: 0px;
    padding: 7px 15px;
    border-radius:  5px;
}
.link-btn:hover{
    background-color: black;
    color: white;
}